{% if locale.isDefaultLocale %}
    <h1>Bienvenue sur TavernOfCho</h1>
    <p>
        Vous êtes maintenant inscrits sur <a href="https://tavernofcho.com">TavernOfCho</a>.
        <br>
        N'hésitez pas à visiter notre page d'aide en cas de questions ou de problèmes :
        <a href="https://tavernofcho.com/help">https://tavernofcho.com/help</a>
    </p>
{% else %}
    <h1>Welcome on TavernOfCho</h1>

    <p>
        You are now registered on <a href="https://tavernofcho.com">TavernOfCho</a>.
        <br>
        Please check our help page in case of questions or problems :
        <a href="https://tavernofcho.com/help">https://tavernofcho.com/help</a>
    </p>
{% endif %}
